version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: db01
      POSTGRES_USER: db01_user
      POSTGRES_PASSWORD: db01_password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/db01
      SPRING_DATASOURCE_USERNAME: db01_user
      SPRING_DATASOURCE_PASSWORD: db01_password
    depends_on:
      - db

volumes:
  db_data: